/* === CSS VARIABLES === */

:root {

    /* Colors */

    --clr-neutral-100: hsl(0, 0%, 100%);
    --clr-neutral-200: hsl(0, 0%, 90%);
    --clr-neutral-300: hsl(0, 0%, 83%);
    --clr-neutral-400: hsl(0, 0%, 64%);
    --clr-neutral-500: hsl(0, 0%, 45%);
    --clr-neutral-600: hsl(0, 0%, 32%);
    --clr-neutral-700: hsl(0, 0%, 15%);
    --clr-neutral-800: hsl(0, 0%, 9%);
    --clr-neutral-900: hsl(0, 0%, 4%);

    --clr-primary-100: hsl(34, 100%, 92%);
    --clr-primary-200: hsl(32, 98%, 83%);
    --clr-primary-300: hsl(31, 97%, 72%);
    --clr-primary-400: hsl(27, 96%, 61%);
    --clr-primary-500: hsl(25, 95%, 53%);
    --clr-primary-600: hsl(21, 90%, 48%);
    --clr-primary-700: hsl(17, 88%, 40%);
    --clr-primary-800: hsl(15, 75%, 28%);
    --clr-primary-900: hsl(13, 81%, 15%);

    --shadow: 0 0px 10px rgb(0 0 0 / 0.2);

    /* font sizes */
    --fs-200: .75rem;
    --fs-300: .875rem;
    --fs-400: 1rem;
    --fs-500: 1.25rem;
    --fs-600: 1.75rem;
    --fs-700: 2.5rem;
    --fs-800: 3rem;
    --fs-900: 4rem;

    /* font weights */
    --fw-thin: 100;
    --fw-extralight: 200;
    --fw-light: 300;
    --fw-normal: 400;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: 700;
    --fw-extrabold: 800;
    --fw-black: 900;

    /* font-families */
    --ff-primary: 'Poppincs', sans-serif;

    /* Spacing */
    --spacer-sm: .5em;
    --spacer-md: 1em;
    --spacer-lg: 3em;

    --container-width: 1200px;

    /* Border Radius */
    --br-sm: .25em;
    --br-md: .5em;
    --br-lg: 1.5em;
}

@media (max-width: 35em) {
    :root {
        --fs-200: .5rem;
        --fs-300: .75rem;
        --fs-400: .875rem;
        --fs-500: 1rem;
        --fs-600: 1.5rem;
        --fs-700: 2rem;
        --fs-800: 2.5rem;
        --fs-900: 3rem;
    }
}

/* === CSS RESET === */

/* makes sizing simpler */

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* remove default spacing */
/* force styling of type through styling, rather than elements */

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* min body height */

body {
  min-height: 100vh;
}

/* responsive images/videos */
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

/* === GENERAL STYLES === */

body {
    font-family: var(--ff-primary);
    font-size: var(--fs-400);
    font-weight: var(--fw-normal);
    line-height: 1.5;
    color: var(--clr-primary-900);
    background-color: var(--clr-primary-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.2;
}

/* === HEADER === */

.header {
    background-color: var(--clr-neutral-100);
}

.site-logo {
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-primary-900);
}

.header-icon {
    font-size: var(--fs-600);
    line-height: 0;
}
.title {
    font-size: var(--fs-600);
    font-weight: var(--fw-semi-bold);
    line-height: 0;
}

/* === MODAL === */

.book-modal {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    border: 0;
    border-radius: var(--br-md);
    box-shadow: var(--shadow);
    z-index: 10;
}

dialog::backdrop {
    background-color: rgb(0 0 0 / 0.4);
}

/* === FORM === */

.book-form {
    position: relative;
    width: minmax(auto, 300px);
    padding: var(--spacer-md) 0;
}

.book-input-container {
    display: flex;
    flex-direction: column;
    align-items: ;
    margin-bottom: var(--spacer-md); 
    list-style: none;
}
.book-label {
    font-size: var(--fs-400);
    font-weight: var(--fw-semi-bold);
    color: var(--clr-primary-900);
    text-transform: uppercase;
}
.book-input {
    padding: var(--spacer-sm);
    line-height: 0;
    background-color: var(--clr-primary-100);
    border: 0;
    border-radius: var(--br-md);
    box-shadow: inset var(--shadow);
}
.book-input::placeholder {
    font-size: var(--fs-300);
}

.btn-cancel {
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -2em;
    background: transparent;
    border: 0;
}

.btn-cancel-svg {
    fill: var(--clr-primary-900);
}

/* === BOOK CARDS === */

.library-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: var(--br-lg);
    margin: var(--spacer-md) auto;
}

.book-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: var(--spacer-md);
    width: 250px;
    height: 350px;
    padding: var(--spacer-lg) var(--spacer-md);
    text-align: center;
    color: var(--clr-primary-900);
    background-color: var(--clr-neutral-100);
    border-radius: var(--br-md);
    box-shadow: var(--shadow);
}

.book-title {
    font-size: var(--fs-600);
    font-weight: var(--fw-black);
    letter-spacing: 1.2px;
}
.book-author {
    font-size: var(--fs-500);
    font-weight: var(--fw-medium);
}

.book-header {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: var(--spacer-md);
    padding: var(--spacer-sm);
    width: 100%;
    height: 35px;
    background-color: var(--clr-primary-900);
    border-top-left-radius: var(--br-md);
    border-top-right-radius: var(--br-md);
    box-shadow: var(--shadow);
}

.book-header-edit {
    display: flex;
    gap: var(--spacer-md);
    padding: var(--spacer-sm);
}

.btn-delete-book,
.btn-edit-book, 
.book-status,
.book-pages {
    color: var(--clr-primary-300);
    background: transparent;
    border: 0;
    transition: .03s ease;
}

.btn-delete-book:hover,
.btn-edit-book:hover {
    cursor: pointer;
    opacity: 80%;
}

.book-status {
    display: flex;
}
.book-status__x {
    opacity: 50%;
}

/* === FOOTER === */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--clr-neutral-100);
}

.github {
    cursor: pointer;
    transition: .03s ease;
}

.github:hover {
    opacity: 60%;
}

/* === BUTTONS === */

.btn {
    padding: .5em 1.5em;
    color: var(--clr-neutral-100);
    background-color: var(--clr-primary-900);
    border: 0;
    border-radius: var(--br-md);
    box-shadow: var(--shadow);
    transition: 0.3s ease;
}
.btn:hover {
    cursor: pointer;
    background-color: var(--clr-primary-800);
    box-shadow: inset var(--shadow);
}

.btn-book-modal:hover {
    cursor: pointer;
    opacity: 80%;
}

/* ==== UTILITY CLASSES === */

.container {
    max-width: var(--container-width);
    padding: var(--spacer-sm) var(--spacer-lg);
    margin: 0 auto;
}
.flex {
    display: flex;
}
.flex-columns {
    flex-direction: column;
}
.align-items-center {
    align-items: center;
}
.justify-items-center {
    justify-items: center;
}
.justify-content-center {
    justify-content: center;
}
.justify-content-between {
    justify-content: space-between;
}
.text-center {
    text-align: center;
}
.gap-sm {
    gap: var(--spacer-sm);
}
.gap-md {
    gap: var(--spacer-md);
}
.gap-lg {
    gap: var(--spacer-lg);
}

/* ==== MEDIA QUERIES === */

/* * {
    outline: 1px solid red;
  }
  
  *:nth-child(2n) {
    outline: 1px solid blue;
  }
   */